@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

:root {
    font-size: 62.5%;
}

* {
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #4CC2C3;
    background-size: 100%;
    background-position-y: 60%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

nav {
    margin-bottom: 2em;
}


h1 {
    background: linear-gradient(0deg, #96fbc4 0%, #f9f586 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 1em;
    font-size: 3em;
    font-weight: 900;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 4em;
    font-weight: 700;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 30em;
    margin-top: 3em;
    margin-bottom: 2em;
}

input {
    font-size: 2em;
    height: 2em;
    text-align: center;
    background-color: white;
    border: none;
}

button {
    height: 2em;
    font-size: 2em;
    background: linear-gradient(0.25turn, rgb(78, 35, 179), rgb(160, 31, 160), rgb(78, 35, 179));
    color: white;
    margin-bottom: 5%;
    border-radius: 0.5em;
    box-shadow: black .25em .25em .25em;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: .1em;
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    visibility: hidden;
}

main:hover h3 {
    visibility: visible;
}

.search-result {
    display: none;
}

figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 10%;
}

.block-holder {
    display: flex;
    justify-content: center;
    width: 100%;
}


.event-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2em;
    background-color: rgba(28, 18, 143, 0.5);
}
.event-block:hover{
    background-color: rgba(28, 18, 143, 0.875);
}

.location-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2em;
    background-color: rgba(21, 148, 17, 0.5);
}
.location-block:hover{
    background-color: rgba(21, 148, 17, 0.875);
}

.video-block {
    text-align: center;
    height: auto;
    padding: 2em;
    background-color: rgba(223, 50, 50, 0.5);
}
.video-block:hover{
    background-color: rgba(223, 50, 50, 0.875);
}

h4 {
    font-size: 3em;
    letter-spacing: .10em;
    line-height: 1.5em;
    text-decoration: underline;
    height: 2.75em;
}

.event-article {
    width: 90%;
    height: 40em;
    margin-top: 5em;
    border: solid 0.5em black;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: scroll;
    transition: height 2s .5s;
}

.group-image {
    height: 25em;
    width: 30em;
    opacity: 80%;
    
    border: solid 1em rgb(67, 20, 99);
}
.group-image:hover {
    height: 25em;
    width: 30em;
    opacity: 100%;
    border: solid 1em rgb(134, 49, 190);
    box-shadow: 0 0 .25em .25em rgb(134, 49, 190);
    box-shadow: 1em 1em 2em black;
    cursor: pointer;
}
.group-image:active {
    filter: brightness(75%);
    border: solid 1.5em rgb(59, 25, 82);
    
}


.event {
    display: flex;
    flex-direction: row;
}

.details {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

h5 {
    font-size: 3em;
    font-weight: 400;
}

iframe {
    margin: 2em;
    width: 45em;
    height: 25.5em;
    box-shadow: 2em 2em 1em;
    background-color: rgba(255, 255, 255, 0.5)
}

.event-article:hover {
    height: 60em;
}



@media (min-width: 48em) {
    main {
        margin-top: 8%;
    }
    button {
        height: 2.25em;
        font-size: 2.25em;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 7em;
    }
    h3 {
        font-size: 3.5em;
    }
    h4 {
        font-size: 4em;
    }
    .event-article {
        width: 100%;
        }
    iframe {
        width: 40em;
        height: 22.5em;
    }
}

@media (min-width: 64em) {
    main {
        margin-top: 5%;
    }
    button {
        height: 2.5em;
        font-size: 2.5em;
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 10em;
    }
    h3 {
        font-size: 3.5em;
    }
    h4 {
        font-size: 4em;
    }
    .event-article {
    width: 100%;
    }
    iframe {
        width: 30rem;
        height: 16em;
    }
}

