@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
:root {
    font-size: 62.5%;
}
* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #4CC2C3;
    background-size: 100%;
    background-position-y: 60%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

nav {
    margin-bottom: 2em;
    position: fixed;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-bottom: 1em;
}

h1 {
    background: linear-gradient(0deg, #96FBC4 0%, #F9F586 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 1em;
    font-size: 2.5em;
    font-weight: 900;
}

.eventube:hover {
    opacity: 85%;
}

.list-button {
    width: 8em;
    height: 3em;
    background: linear-gradient(0deg, #96FBC4 0%, #F9F586 100%);
    font-size: 1.25em;
    color: black;
    border: none;
    margin-right: 4em;
    box-shadow:
     1px 1px 1.9px rgba(0, 0, 0, 0.014),
    2.6px 2.9px 5.1px rgba(0, 0, 0, 0.02),
     6.3px 6.9px 12.4px rgba(0, 0, 0, 0.026),
    21px 23px 41px rgba(0, 0, 0, 0.04);
}

.list-button:hover {
    transition: transform 300ms;
    transform: scale(1.05);
}

.list-button:active {
    opacity: 85%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #1E7F8B;
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    font-size: x-large;
    letter-spacing: normal;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-empty {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus,
.close-empty:hover,
.close-empty:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.oops-lady {
    margin-top: 1em;
    width: 25%;
    border: solid .1em yellow;
    border-radius: 2em;
}

.nothing {
    margin-top: 1em;
    width: 40%;
    border: solid .1em yellow;
    border-radius: 2em;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 4em;
    font-weight: 700;
    background: linear-gradient(120deg, #FDFBFB 0%, #EBEDEE 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}

form {
    display: flex;
    flex-direction: column;
    width: 30em;
    margin-top: 3em;
    margin-bottom: 2em;
}

input {
    font-size: 2em;
    height: 2em;
    text-align: center;
    background-color: white;
    border: none;
}

button {
    height: 2em;
    font-size: 2em;
    background: linear-gradient(0.25turn, rgb(78, 35, 179), rgb(160, 31, 160), rgb(78, 35, 179));
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 0.5em;
    box-shadow:
     1px 1px 1.9px rgba(0, 0, 0, 0.014),
    2.6px 2.9px 5.1px rgba(0, 0, 0, 0.02),
     6.3px 6.9px 12.4px rgba(0, 0, 0, 0.026),
    21px 23px 41px rgba(0, 0, 0, 0.04);
}

h3 {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: .1em;
    background: linear-gradient(120deg, #FDFBFB 0%, #EBEDEE 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    visibility: hidden;
}

main:hover h3 {
    visibility: visible;
}
.search-result {
    display: none;
}

figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 1em;
}

.block-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20%;
    width: 100%;
}

h5 {
    font-size: 2.5em;
    font-weight: 400;
    display: flex;
    text-align: center;
    margin-bottom: 1em;
}

h4 {
    font-size: 3em;
    font-weight: 700;
    background: linear-gradient(120deg, #FDFBFB 0%, #EBEDEE 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.event {
    display: flex; 
    flex-direction: column; 
    text-align: start; 
    margin-top: 1em; 
    margin-bottom: 10em; 
    font-size: 1em;
}

.event-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2em;
}


.event-article {
    width: 35em;
    height: 40em;
    margin-top: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: scroll;
    transition: height 2s .5s;
}

.event-article:hover {
    height: 60em;
}

.group-image {
    display:flex;
    height: 25em;
    width: 30em;
    border: solid .1em white;
}

.group-image:hover {
    height: 25em;
    width: 30em;
    border: none;
    box-shadow:
     1px 1px 1.9px rgba(0, 0, 0, 0.014),
    2.6px 2.9px 5.1px rgba(0, 0, 0, 0.02),
     6.3px 6.9px 12.4px rgba(0, 0, 0, 0.026),
    21px 23px 41px rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.group-image:active {
    border: solid 1.5em rgb(59, 25, 82);
}


.details {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.event-detail-component {
    font-size: 2em; 
    font-weight: 900; 
    margin: .5em;
}

.event-data-component {
    line-height: 1em;
    font-size: 1em;
    font-weight: 400; 
    color: rgb(4, 4, 170);
}

li {
    background: linear-gradient(0deg, #6A11CB 0%, #2575FC 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 1em;
}

.location-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2em;
}

.location-article {
    margin-top: 2em;
}

.location-article:hover {
    transition: transform 300ms;
    transform: scale(1.05);
}

.videos {
    margin-top: .25em;
}

.video-block {
    text-align: center;
    height: auto;
    padding: 2em;
}

iframe {
    margin: 2em;
    width: 45em;
    height: 25.5em;
    box-shadow:
    1.7px 1.7px 1.9px rgba(0, 0, 0, 0.014),
    4.8px 4.8px 5.1px rgba(0, 0, 0, 0.02),
    11.5px 11.5px 12.4px rgba(0, 0, 0, 0.026),
    38px 38px 41px rgba(0, 0, 0, 0.04)
  ;
    background-color: rgba(255, 255, 255, 0.5)
}

iframe:hover {
    transition: transform 300ms;
    transform: scale(1.05);
}

.list-page {
    display: none;
}

.list-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h6 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3.5em;
    font-size: 2em;
}

.clear-button {
    font-size: 2em;
    padding: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    color: black;
    border: none;
    box-shadow:
    1.7px 1.7px 1.9px rgba(0, 0, 0, 0.014),
    4.8px 4.8px 5.1px rgba(0, 0, 0, 0.02),
    11.5px 11.5px 12.4px rgba(0, 0, 0, 0.026),
    38px 38px 41px rgba(0, 0, 0, 0.04)
  ;
    background: linear-gradient(0deg, #96FBC4 0%, #F9F586 100%);
}

.clear-button:hover {
    transition: transform 300ms;
    transform: scale(1.05);
}

.clear-button:active {
    opacity: 85%;
}

.artist-list {
    text-align: center;
}

@media (min-width: 48em) {
    main {
        margin-top: 8%;
    }
    button {
        height: 2.25em;
        font-size: 2.25em;
    }
    nav {
        height:15%;
    }
    .list-button {
    width: 8em;
    height: 2.5em;
    font-size: 2em;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 7em;
    }
    h3 {
        font-size: 3.5em;
    }
    h4 {
        font-size: 4em;
    }
    .clear-button {
        font-size: 2.5em;
        width: 6em;
        justify-content: center;
        padding-left: 4em;
        padding-right: 4em;
        letter-spacing: .25em;
    }
    .search {
        margin-top: 15%;
    }
    .block-holder {
        margin-top: 15%;
    }
    .event-article {
        width: 100%;
        }
    iframe {
        width: 40em;
        height: 22.5em;
    }
}

@media (min-width: 64em) {
    main {
        margin-top: 5%;
    }
    
    button {
        height: 2.5em;
        font-size: 2.5em;
    }
    .guitar {
        width: 100em;
        margin-left: 8em;
    }
    h1 {
        font-size: 5em;
    }
    h5 {
        font-size: 3.5em;
        margin-bottom: 1em;
    }
    h6 {
        margin-top: 6em;
        font-size: 3em;
    }
    .artist-list {
        font-size: 3em;
    }
    h2 {
        font-size: 10em;
    }
    h3 {
        font-size: 3.5em;
    }
    h4 {
        font-size: 4em;
    }
    .search {
        margin-top: 10%;
    }
    .block-holder {
        margin-top: 17em;
    }
    .event-article {
    width: 100%;
    }
    iframe {
        width: 30rem;
        height: 16em;
    }
}

@media (min-width: 100em) {
    .list-button {
        font-size: 2.5em;
    }
    .guitar {
        margin-left: 15em;
        align-self: center;
    }
    .event-article {
        width: 45em;
    }

}